@model ProfileListingProject.Web.Areas.Manager.Models.ProductUpdateModel

@{
    ViewData["Title"] = "Add";
}

@section styles
{
    <style>

        .ui-autocomplete-loading {
            background: #fff no-repeat 95%;
            background-image: url('../../Content/assets/images/ui-anim.gif');
        }
    </style>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/lib/jquery/jquery.js"></script>

    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>*@

    <script>
        @*START Jquery Add row for product Feature*@

       $('#btnAddTripExp').on('click', function () {

        var num = $('.clonedInputTripExp').length,

            newNum = new Number(num + 1),
            newRow = new Number(num),
            newElem = $('#entryTripExp' + num).clone().attr('id', 'entryTripExp' + newNum).fadeIn('slow');

        var newIda = $('#entryTripExp' + num).find('.Sl').html(),
            newId = parseInt(newIda) + 1;
        newElem.find('.Name').parent().attr('for', 'ID' + newId + 'Name');
        newElem.find('.Name').attr('id', 'ID' + newId + 'Name').val('').attr('name', 'ProductFeatures[' + newIda + '].Name').val('');

        newElem.find('.Description').parent().attr('for', 'ID' + newId + 'Description');
        newElem.find('.Description').attr('id', 'ID' + newId + 'Description').val('').attr('name', 'ProductFeatures[' + newIda + '].Description').val('');
        $('#entryTripExp' + num).after(newElem);
        $('#entryTripExp' + newNum).focus();

        $('#btnDelTripExp').attr('disabled', false);

        newElem.find('.Sl').html(newNum);
    });


    $(document).on('click', '.btnDelTripExp', function () {

        event.preventDefault();

        var num = $('.clonedInputTripExp').length,

            newNum = new Number(num);

        if (newNum == 1) {
            $('.btnDelTripExp').attr('disabled', true);
            alert("Minimum fill one row!!");
        }
        else {
            var tr = $(this).closest('tr');
            tr.addClass("bg-danger");
            tr.fadeOut(500, function () {
                var table = tr.closest('table');
                tr.remove();
                updateIndexesExp(table);
            });
        }

    });
        // Update Clond Input fields Indexes
    function updateIndexesExp(table) {

        table.find("tr:gt(0)").each(function (i, row) {
            $(row).find("td:first").html(i + 1);
            var id = i + 1;
            $(row).find('.Description').attr('name', 'ProductFeatures[' + id + '].Description');
            $(row).find('.Name').attr('name', 'ProductFeatures[' + id + '].Name');
            $(row).attr('id', 'entryTripExp' + id);

            $(row).find('input, select').each(function (j, input) {

                var id = input.name.match(/\d+/);
                if (id != null && id.length && id.length == 1) {
                    var attr = $(input).attr("name");
                    var newName = attr.replace(attr.match(/\d+/), i);
                    $(input).attr("name", newName);
                }
            });


        });
    }


        @* END Jquery Add row for product Feature*@

    </script>
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

<form enctype="multipart/form-data" asp-controller="Product" asp-action="Add" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="card card-secondary">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Name" class="control-label">Product Name</label>
                    <input name="Name" asp-for="Name" class="form-control form-control-sm" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea name="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                @*  asp-for tag helper is set to "Photo" property. "Photo" property type is IFormFile
        so at runtime asp.net core generates file upload control (input type=file)
                *@
                <div class="form-group row">
                    <dl>
                        <dd>
                            <input name="Image" type="file">
                        </dd>
                    </dl>
                </div>

               <div class="form-group col-md-4">
                    <label asp-for="Category.Name" class="control-label">Categories</label>
                    <select name="Category.Name" class="form-control form-control-sm select2" style="width: 100%;">
                        <option disabled selected> Please Select a new Item </option>
                        @foreach (var item in ViewBag.CategoryList)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            @*  Start Jquery For Product Feature Add  *@
            <div class="form-row">
                <div class="panel-body w-100">
                    <div class="col-md-12 searched-content">

                        <div class="row">
                            <div class="col-md-3 pl-xs">
                                <h4 class="p-none" style="color: #c13832; font-weight: bold">Add Product Features</h4>
                            </div>

                            <div class="col-md-2 pull-right">
                                <button class="btn btn-primary input-sm pull-right " type="button" name="btnAddTripExp" id="btnAddTripExp">
                                    Add <i class="fa fa-plus"></i>
                                </button>
                            </div>


                        </div>
                        <div class="row">
                            <table class="table table-bordered table-striped table-condensed mb-none" id="tblExpenseCount">
                                <thead>
                                    <tr>
                                        <th>#SL</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @{
                                        int x = 1;
                                    }

                                    <tr class="clonedInputTripExp" id="entryTripExp@{@x}">

                                        <td class="Sl">1</td>
                                        <td>
                                            @Html.TextBox("ProductFeatures[0].Name", null, htmlAttributes: new { @class = "form-control input-sm Name p-3" })
                                        </td>

                                        <td>
                                            @Html.TextBox("ProductFeatures[0].Description", null, htmlAttributes: new { @class = "form-control input-sm Description p-3", @required = "required", @onchange = "getTotal()" })
                                        </td>

                                        <td class="text-center">
                                            <a href="javascript:void(0)" class="btnDelTripExp" style="cursor: pointer;">
                                                @*<i class="fa fa-times tip pointer"></i>*@
                                                <button type="button">X</button>
                                            </a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>





                <div class="col-md-6 pull-right">

                    <button class="btn btn-success pull-right" type="submit" name="btnSubmit">
                        Submit <i class="fa fa-arrow-circle-right"></i>
                    </button>

                    <button class="btn btn-danger pull-right mr-sm"type="reset" name="btnReset" id="statusReset">
                        Reset <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>

            @* END Jquery For Product Feature Add  *@
        </div>
    </div>

    <div class="card-footer">
        <div class="float-left">
            <button type="submit" class="btn btn-info pull-left">Submit</button>
        </div>
        <div class="float-right">
            <a asp-area="Manager" asp-controller="Product" asp-action="Index" class="btn btn-outline-info pull-right">Back To List</a>
        </div>
    </div>
</form>