@model ProfileListingProject.Web.Areas.Manager.Models.CompanyUpdateModel
@{
    ViewData["Title"] = "Update Company";
}

@section styles
{
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: blue;
        }
    </style>
    <link href="~/manager/plugins/select2/css/select2.min.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/manager/plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();
            $(".js-example-tokenizer").select2({
                tags: true
            })
            //$("#e12").val(["C#","SQL Server"]).select2();

        });
    </script>
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}


@*<form enctype="multipart/form-data" method="post">
        <dl>
            <dd>
                <input name="ProfileImage" type="file">
            </dd>
        </dl>
        <input class="btn btn-primary" type="submit" value="Upload" />
    </form>*@


<section class="content">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="post" asp-controller="Company" asp-action="Update">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.Id" name="Id" />
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Update Company Profile Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input name="Name" value="@Model.Name" id="Name" type="text" class="form-control" placeholder="Enter your Name...">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Short Description</label>
                                        @Html.TextArea("ShortDescription", null, new { @rows = "4", @cols = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input name="Address" value="@Model.Address" type="text" class="form-control" placeholder="Enter your Address...">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input name="Phone" value="@Model.Phone" type="text" class="form-control" placeholder="Example - 01891239182...">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Create Multiple Technology</label>
                                        @Html.DropDownListFor(m => m.TechnologyList,
                                       Model.TechnologyInfos.Select(x => new SelectListItem
                                            {
                                                Text = x.Name,
                                                Value = x.Name
                                       }), new { @class = "select2 js-example-tokenizer", @multiple = "multiple", @style = "width: 100%", @Id = "e12" })
                                        <div class="editor-field">

                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Create Multiple Area Of Operations </label>
                                        @Html.DropDownListFor(m => m.AreaOfOperationsList,
                                       Model.AreaOfOperations.Select(x => new SelectListItem
                                            {
                                                Text = x.Name,
                                                Value = x.Name
                                       }), new { @tags = true, @class = "select2 js-example-tokenizer", @multiple = "multiple", @style = "width: 100%" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <dl>
                                            <dd>
                                                <label for="ProfileImage">Upload Profile Image</label>
                                                <input name="ProfileImage" value="@Model.LogoImageUrl" type="file">
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <dl>
                                            <dd>
                                                <label for="OfficePhoto">Upload Company Photo</label>
                                                <input name="OfficePhoto" value="@Model.OfficePhotoUrl" type="file">
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!--/.col (right) -->
            </div>
        </form>
    </div>
</section>